<h1>Wine Reviews</h1>
<p>Current postings:</p>

<ol>
	<% @wines.each do |wine| %>
		<li><%= wine.year %> <%= link_to(wine.name, wine) %> from <%= wine.winery %> (<%= wine.varietal %>)</li>
	<% end %>
</ol>
